footer{
    margin: 1% 2% 2% 2%;
    padding: 0.4rem;
    display: flex;
    text-align: center;
    border-top: 1px solid white;
    margin-top: 10%;
    height: 10rem;
    justify-content: center;
}

.container-footer1{
    margin-top: 3%;
    font-size: 1.4em;
    margin-bottom: 5%;
}

.container-footer2{
    margin-top: 4%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    align-items: center;
}

.container-footer2 img{
    transition: 0.7s;
}

.container-footer2-img2 img:hover,
.container-footer2-img3 img:hover{
    scale: +120%;
}

.container-footer2-img1 img:hover,
.container-footer2-img4 img:hover{
    scale: +250%;
}

.container-footer2 img{
    width: 25%;
    margin-bottom: 20%;
}

.container-footer2-img1 img{
    scale: 1.7;
}

.container-footer2-img4 img{
    scale: 2.0;
}