.projet-main{
    margin: auto;
    width: 70%;
    
}

.projet-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projet-main h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 7%;
}

.projet-main-content{
    font-size: 1.3em;
    text-align: justify;
    margin-bottom: 10%;
}

.container{
    margin-bottom: 3%;
    font-size: 1.2em;
    text-align: justify;
    border: 1px solid white ;
    padding: 2%;
    width: 100%;
    transition: 1.0s;
}

.container:hover{
    transform: scale(1.1);
    background-color: black;
}

.container a{
    text-decoration: underline;
    
}   

.container h2{
    margin-bottom: 1%;
}



/* 

Qwirkle page

*/

.qwirkle-main{
    margin: auto;
    width: 70%;
}

.qwirkle-main h1{
    text-align: center;
    font-size: 2.5em;
}

.qwirkle-main1{
    margin-top: 4%;
}

.qwirkle-main-text{
    font-size: 1.2em;
    text-align: justify;
}

.qwirkle-main-text1,
.qwirkle-main-text2,
.qwirkle-main-text3{
    margin-bottom: 2%;
}

.qwirkle-main-text3{
    margin-bottom: 5%;
}

.qwirkle-main-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qwirkle-main-link1 a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.qwirkle-main-link1 img{
    width: 60%;
    transition: 0.7s;
}

.qwirkle-main-link1 img:hover{
    width: 70%
}

.qwirkle-main-link2{
    margin-bottom: 2%;
}

.qwirkle-main-pdf{
    display: flex;
    justify-content: center;
    margin-bottom: 40%;
    height: 10rem;

}

.qwirkle-main-pdf-title h3{
    display: flex;
    justify-content: center;
    margin-top : 5%;
    margin-bottom: 5%;
}